<% content_for :home do %>
	class="active"
<% end %>

<!-- Jumbotron -->
<div class="jumbotron">
  <h1>住在井底的青蛙</h1>
  <p class="lead">黄晓磊，毕业于东北大学通信工程专业，网名smallgoldstone，井底蛙。</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">留言 & 联系我</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>项目 & 产品</h2>
    <p>提供的软件产品以及曾经做过的项目。</p>
    <p><a class="btn btn-primary" href="#" role="button">查看详情&raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>可提供的服务</h2>
    <p>可以提供定制软件开发、网络服务、咨询。</p>
    <p><a class="btn btn-primary" href="#" role="button">查看详情&raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>开源 & 分享</h2>
    <p>一些开发中的经验以及分享一些小东西。</p>
    <p><a class="btn btn-primary" href="#" role="button">查看详情&raquo;</a></p>
  </div>
</div>